html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: "Recoleta";
  font-weight:300;
  src: url('../assets/fonts/Recoleta-Light.ttf') format('truetype');
}
@font-face{
  font-family: "Recoleta";
  font-weight: 400;
  src: url('../assets/fonts/Recoleta-Regular.ttf') format('truetype');
}
@font-face{
  font-family: "Recoleta";
  font-weight: 600;
  src: url('../assets/fonts/Recoleta-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family: "Recoleta";
  font-weight: 700;
  src: url('../assets/fonts/Recoleta-Bold.ttf') format('truetype');
}
@font-face{
  font-family: "Recoleta";
  font-weight: 900;
  src: url('../assets/fonts/Recoleta-Black.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
